body {
   /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=56b1c7&c2=19bef4&gt=l&gd=dtl
*/
background: #56B1C7;
background: linear-gradient(315deg, #56B1C7, #19BEF4);
}

.card {
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}